@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@300&display=swap");

/* CSS HEX */
/* 

--dark-liver: #484349ff;
--isabelline: #f7f0f0ff;
--electric-blue: #8af3ffff;
--persian-green: #18a999ff;
--spanish-green: #109648ff; 

*/

body {
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #484349ff;
  font-size: 20px;
  color: #f7f0f0ff;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #109648ff;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 2px #109648ff;
}

#title {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #18a999ff;
}

#title h1 {
  margin-top: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 3%;
  margin-top: 5%;
}

.banner {
  display: flex;
  flex-direction: column;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
}

.nav-bar ul > li > a {
  text-decoration: none;
  color: ;
}

.nav-bar ul > li > a:hover {
  text-decoration: underline;
}

.sider-bar {
  display: grid;
  flex-direction: column;
  grid-template-rows: repeat(6, 1fr);
}

.aside-grid-box {
  width: 100%;
  height: auto;
}

#sponsor-one img {
  width: 100%;
  border-radius: 20px;
  border-top: 10%;
}

#sponsor-two img {
  width: 100%;
  border-radius: 20px;
}

.important-stuff {
  grid-row-start: 6;
  padding-top: 80%;
}

.important-stuff {
  justify-self: left;
}

.user-char ul {
  padding: 0;
}

.post {
  border: 1px solid rgb(86, 81, 87);
  border-radius: 20px;
}

.main-box {
  width: 100%;
  margin: 0 auto;
}

#sign-up-link {
  padding-top: 20px%;
}

#user-post-box textarea {
  background-color: #484349ff;
  color: #f7f0f0ff;
  border-radius: 20px;
  width: 80%;
  padding: 20px;
}
