<h3>Login</h3>

<%= error_message %>

<form class="create-user-form" action="/sessions" method="POST">

  <div class="email">
    <label for="email">
    Email:
    </label>
    <input name="email">
  </div>

  <div class="password">
    <label for="password">
    Password:
    </label>
    <input name="password" type="password">
  </div>

  <div class="user-submit">
    <input type="submit" value="Login" class="login-button">
  </div>

</form>

<a id="sign-up-link" href="/sign_up">Don't have an account? Sign up here.</a>