<h3>Login</h3>


<form class="create-user-form" action="/sessions" method="POST">

  <div class="email">
    <label for="email">
    Email:
    </label>
    <input name="email">
  </div>

  <div class="password">
    <label for="password">
    Password:
    </label>
    <input name="password">
  </div>

  <div class="user-submit">
    <input type="submit" value="Login" class="login-button">
  </div>

</form>