<div class="create-user">
  <form class="create-user-form" action="/users/new" method="POST">
  
    <div class="character_name">
      <label for="character_name">
        Character Name:
      </label>
      <input name="character_name">
    </div>

    <div class="email">
      <label for="email">
        Email:
      </label>
      <input name="email">
    </div>

    <div class="password">
      <label for="password">
        Password:
      </label>
      <input type="password" name="character_name">
    </div>

    <div class="user-submit">
      <input type="submit" class="add-user-button" value="Sign Up">
    </div>
  </form>
</div>